{% set resizeWidth = resize is iterable ? resize[0] : resize %}
{% set resizeHeight = resize is iterable ? resize[1] : null %}

{% if '.svg' in source %}
	<img
			alt="{{ alt }}"
			class="{{ class }} lazyload"
			{{ animation ? 'data-animation="' ~ animation ~ '"' }}
			{{ animationDelay ? 'data-animation-delay="' ~ animationDelay ~ '"' }}
			{{ animationTarget ? 'data-animation-target="' ~ animationTarget ~ '"' }}
			data-src="{{ source }}"
	>
{% else %}
	<picture>
		<img
				alt="{{ alt }}"
				class="{{ class }} lazyload"
				{{ animation ? 'data-animation="' ~ animation ~ '"' }}
				{{ animationDelay ? 'data-animation-delay="' ~ animationDelay ~ '"' }}
				{{ animationTarget ? 'data-animation-target="' ~ animationTarget ~ '"' }}
				data-src="{{ source | resize(resizeWidth, resizeHeight) }}"
		>
	</picture>
{% endif %}
