<article id="post-item-{{post.ID}}" class="post-item post-{{post.post_type}}">
	{% block content %}
		<h2 class="post-item__title">
			<a href="{{post.link}}" class="post-item__link">{{post.title}}</a>
		</h2>
		<p class="post-item__content">{{post.preview}}</p>
		{% if post.get_thumbnail %}
			<img src="{{post.thumbnail.src}}" />
		{% endif %}
	{% endblock %}
</article>