// Colors
$color-white: '#fff';
$color-black-primary: '#000';
$color-black-secondary: '#222';
$color-gray-primary: '#ddd';
$color-gray-secondary: '#eee';

// Fonts
$font-helvetica: 'Helvetica', sans-serif;
