{% extends 'base.twig' %}

{% set template = 'front' %}

{% block content %}
	<div id="front-page" class="front">

		{% include 'pages/front/front-hero.twig' %}

		<div class="front__body">
			{{ post.content }}
		</div>
	</div>
{% endblock %}
