{% extends "base.twig" %}

{% set template = 'single' %}

{% block content %}

	<article class="single">
		<div class="single__wrapper">
			<h1 class="single__title">
				{{ post.title }}
			</h1>

			<picture class="single__media">
				{%  if post.thumbnail.src  %}
				<img src="{{ post.thumbnail.src }}" alt="single__media-image">
				{%  endif %}
			</picture>

			<div class="single__content">
				{{ post.content }}
			</div>
		</div>
	</article>

{% endblock %}
