/*
  This will hide the focus indicator if the element receives focus via the mouse,
  but it will still show up on keyboard focus. As per focus-visible polyfill instructions:
  https://github.com/WICG/focus-visible
*/
.js-focus-visible :focus:not(.focus-visible) {
	outline: none;
}