<a class="skip-link screen-reader-text" href="#main-content">{{ _e( 'Skip to content') }}</a>
<header class="header" >
	{% block header %}
		<div class="header__wrapper">
			<a href={{ site.link }} class="header__logo" role="banner">
				{{site.name}}
			</a>

				{% include "layout/menu.twig" with {'items': menu.get_items} %}

		</div>
	{% endblock %}
</header>
