<nav id="nav-main" class="nav-main" role="navigation">
	{% if menu %}
		<ul>
		{% for item in items %}
			<li class="{{ item.classes | join(' ') }}">
				<a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
				{% include "layout/menu.twig" with {'items': item.children} %}
			</li>
		{% endfor %}
		</ul>
	{% endif %}
</nav>
